<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Notas</title>
</head>
<body>
    <h1>Notas</h1>

    {% for nota in notas %}
        <p>
            <strong>{{ nota['Titulo'] }}</strong>  
            <a href="/nota/{{ nota['Id'] }}">Ver Detalles</a>
        </p>
    {% endfor %}

    <h2>Agregar Nota</h2>
    <form method="POST" action="/agregar_nota">
        <input type="text" name="titulo" placeholder="Título de la nota">
        <textarea name="texto" placeholder="Contenido de la nota"></textarea>
        <button type="submit">Guardar Nota</button>
    </form>
</body>
</html>